fastapi
uvicorn
gunicorn
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
networkx
pytextrank
supabase
python-multipart
python-dotenv
pydantic
pydantic[email]
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pdfplumber
python-docx